*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: salmon;
    width: 100vw;
    height: 100vh;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

div.timer-square{
    width: 600px;
    background-color: white;
    color: darkgoldenrod;
}

div.timer-square h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
}

main section{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

